/*div{
	border:1px solid blue;
}*/
a{
	text-decoration:none;
	font-size: 65px;
	color: white;
}
li>a:hover{
	font-size: 75px;
}
li{
	list-style: none;
}
.li1,.li2,.li3{
	position: absolute;
	top: 120px;
}
.li1{
	left: 10%;
}
.li2{
	left: 37%;
}
.li3{
	left: 62%;
}
.search{
	display: table;
	margin: 20px auto;
}
.button{
	position: absolute;
	left: 2%;
	top: 35%;
}
.button input{
	width: 130px;
	height: 30px;
	font-size: 25px;
	line-height: 0px;
}
p{
	font-size: 33px;
	margin: auto;
	color:white;
}
.center{
	position: absolute;
	left:40%;
	top:12%;
}
