/*div{
	border:1px solid blue;
}*/
a{
	text-decoration:none;
	font-size: 100px;
	color: black;
}
li{
	list-style: none;
}
.li1{
	position:absolute;
	top: 100px;
}
.li1{
	left: 35%;
}
.search{
	position:absolute;
	top: 0px;
}
p{
	font-size: 33px;
	margin: auto;
	color:black;
}
.center{
	position: absolute;
	left:40%;
	top:95px;
}
